<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="id.itborneo.moviecatalogue">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_descriptor"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/appName"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning"
            tools:targetApi="m">
        <receiver android:name=".widget2.FavWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/fav_widget_info"/>
        </receiver>

        <activity android:name=".ui.settings.SettingsActivity">
        </activity>

        <!--<receiver android:name=".widget.FavoriteWidget">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>-->
            <!--</intent-filter>-->

            <!--<meta-data-->
                    <!--android:name="android.appwidget.provider"-->
                    <!--android:resource="@xml/new_app_widget_info"/>-->
        <!--</receiver>-->
        <receiver
                android:name=".ui.settings.Notification"
                android:enabled="true"
                android:exported="true"/>

        <activity android:name=".ui.detail.DetailMovieTvActivity"/>
        <activity android:name=".ui.main.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--<service-->
                <!--android:name=".widget.StackWidgetService"-->
                <!--android:permission="android.permission.BIND_REMOTEVIEWS"-->
        <!--/>-->
        <service android:name=".widget2.FavStackWidgetService"

                 android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>